body {
  margin:0;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-x: hidden;  
  -webkit-perspective: 800;
  -webkit-text-size-adjust: none;
  -webkit-transform-style: preserve-3d;
  -webkit-user-select: none;
}

.content > section {
  display: block;
  position: absolute;
  left: 0;
  min-height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(100%,0%,0%);
  -webkit-backface-visibility: hidden;
}
.content > section.current { 
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0%,0%, 0%); 
  opacity: 1; 
  pointer-events: auto;
  z-index:1000; 
}
.content > section > *      { margin: auto 10px; z-index:1; }